@model mapkowanie.Models.Oferta

@{
    ViewData["Title"] = "Edytuj";
}


<head>
    <style>
        body {
            background-color: rgba(127, 199, 217, 1);
            background-image: radial-gradient(circle, rgba(127, 199, 217, 1) 0%, rgba(220, 242, 241, 1) 100%);
            margin: 0;
            color: #0F1035;
        }
    </style>
</head>
<h1>Edytuj swoją ofertę</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WynagrodzenieMin" class="control-label">Minimalne wynagrodzenie</label>
                <input asp-for="WynagrodzenieMin" class="form-control" />
                <span asp-validation-for="WynagrodzenieMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WynagrodzenieMax" class="control-label">Maksymalne wynagrodzenie</label>
                <input asp-for="WynagrodzenieMax" class="form-control" />
                <span asp-validation-for="WynagrodzenieMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracaStart" class="control-label">Praca od godziny</label>
                <input asp-for="PracaStart" class="form-control" />
                <span asp-validation-for="PracaStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracaStop" class="control-label">Praca do godziny</label>
                <input asp-for="PracaStop" class="form-control" />
                <span asp-validation-for="PracaStop" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="widocznosc" /> Widoczność oferty
                </label>
            </div><br />

            <div style="float: left;" class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>


            <div style="float: left; margin-left: 20px;" class="form-group">
                
                <a asp-action="Index2"><input type="submit" value="Anuluj" class="btn btn-primary" /></a>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
